<div class="container-bg d-flex auto-center">
  <mat-card>
    <mat-card-header>
      <div class="w-100 d-flex fd-column auto-center">
        <mat-icon aria-hidden="false">lock_person</mat-icon>
        <h2>Formulário de Login</h2>
      </div>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" novalidate class="d-flex fd-column">
        <mat-form-field class="w-100">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="meuemail@email.com" formControlName="username">
          <mat-error *ngIf="hasErrorInUsername()">
            {{ usernameErrorMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="button"
          [disabled]="isFormularioValido()"
          (click)="executarLogin()">Entrar</button>
        <button mat-raised-button type="button"
          (click)="navegarParaRota('cadastro')">Cadastrar</button>
        <button mat-button color="warn" type="button"
          (click)="validarForm()">Esqueci minha senha!</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-loading [show]="mostrarLoading"></app-loading>
