<hr />

<p>App</p>
<a routerLink="/">Root para redirecionar</a><br />
<a routerLink="dashboard">Dashboard</a><br />

<p>Autenticação</p>
<a [routerLink]="['/login']">Login</a><br />
<a routerLink="/cadastro">Cadastro</a><br />

<p>Lançamentos</p>
<a [routerLink]="['lancamentos', 'receitas']">Receitas</a><br />
<a routerLink="lancamentos/despesas">Despesas</a><br />

<p>Relatórios</p>
<a [routerLink]="['/relatorios', 'receitas']">Receitas</a><br />
<a routerLink="/relatorios/despesas">Despesas</a><br />

<p>Error</p>
<a routerLink="not">Page not Found</a>

<hr />

<router-outlet></router-outlet>
