@import './assets/css/text.css';
@import './assets/css/material-icons.customize.css';
@import './../node_modules/sweetalert2/dist/sweetalert2.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap-8 {
  gap: 8px;
}

.fd-column {
  flex-direction: column;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.auto-center {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100px;
}
