<nav>
  <mat-toolbar color="primary">
    <div class="w-100 d-flex space-between">
      <div class="d-flex align-center">
        <app-menu></app-menu>

        <span>Sistema de Controle Financeiro Pessoal</span>
      </div>

      <app-logout></app-logout>
    </div>
  </mat-toolbar>
</nav>

<div class="container">
  <p>Seja bem vindo ao dashboard!</p>

  <p>{{ listaDeReceitas | json }}</p>

  <button mat-raised-button color="primary" type="button"
    (click)="adicionarReceita()">Adicionar Receita</button>
</div>
