.container {
  padding: 16px 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

h3 {
  margin: 0
}


table {
  width: 100%;
}

.mat-column-data {
  width: 150px;
  text-align: center;
}

.mat-column-valor {
  width: 150px;
  text-align: right;
}

.mat-column-tipo {
  padding-left: 16px;
  width: 200px;
  text-align: left;
}

.mat-column-fixo {
  width: 50px;
  text-align: center;
}

.mat-column-descricao {
  text-align: left;
}

.mat-column-acoes {
  width: 200px;
  text-align: center;
}

.mat-cell.no-data {
  text-align: left;
}
